.footer{
    background-color: rgb(13, 14, 14);
}
.footer-section-padding{
    padding: 4rem 4rem;

}
.sb_footer{
    display: flex;
    flex-direction: column;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    color: azure;

}
.footer-links-item{
color: white;
}
.footer-links-item:link{
    color: azure;
}
.social-media{
    display: flex;
    flex-direction: column;
  
    
}
.social-media-items{
    padding: 2px;
}